:root {
  --color-bg: light-dark(hsl(0, 0%, 100%), hsl(220, 23%, 10%));
  --color-bg-secondary: light-dark(hsl(268, 23%, 94%), hsl(220, 23%, 20%));
  --color-text: light-dark(hsl(220, 23%, 26%), hsl(220, 23%, 90%));
  --color-text-secondary: light-dark(hsl(220, 23%, 40%), hsl(220, 23%, 60%));
  --color-gradient: light-dark(hsl(210, 80%, 90%), hsl(220, 27%, 18%));
  --color-button: hsl(210, 80%, 70%);
  --color-button-secondary: hsl(210, 80%, 85%);
  --color-button-fg: hsl(210, 80%, 10%);
  --color-link: light-dark(hsl(210, 70%, 32%), hsl(210, 75%, 68%));
  --color-link-hover: light-dark(hsl(210, 70%, 22%), hsl(210, 75%, 78%));
  --color-error: light-dark(hsl(2, 59%, 44%), hsl(5, 100%, 67%));

  --size-base: 0.75rem;
  --size-half: 0.375rem;
  --size-quarter: 0.1875rem;
  --size-2x: 1.5rem;
  --size-3x: 2.5rem;
  --size-4x: 3rem;
  --size-max-width-sm: 20rem;
  --font-size-small: 0.875rem;

  color-scheme: light dark;

  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* General resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  overflow-wrap: break-word;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  background: var(--color-bg) linear-gradient(in oklab, var(--color-gradient), transparent 3rem);
  color: var(--color-text);
  font-size: clamp(1rem, 2vw + 0.2rem, 1.35rem);
  line-height: 1.5;
  text-size-adjust: none;
}

body {
  color: inherit;
  font-family: sans-serif;
  margin: 0 auto;
  max-width: 50rem;
  min-height: 100dvh;
  padding: var(--size-base);
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1.2;
}

img,
svg {
  display: block;
  max-inline-size: 100%;
}

svg:not([fill]) {
  fill: currentColor;
}

a {
  color: var(--color-link);
}

a:hover,
a:focus {
  color: var(--color-link-hover);
}

/* Form */
input,
textarea,
button,
select {
  border-radius: var(--size-half);
  font: inherit;
  line-height: 1;
  max-width: var(--size-max-width-sm);
  padding: var(--size-base);
}

select {
  padding: var(--size-half);
}

input {
  border: 1.5px solid var(--color-text-secondary);
  height: var(--size-3x);
}

.inline-form > input:first-of-type {
  border-radius: var(--size-base) 0 0 var(--size-base);
  border-right: none;
}

.inline-form > :last-child {
  border-radius: 0 var(--size-base) var(--size-base) 0;
}

.error-message {
  color: var(--color-error);
}

/* Button */
button {
  background: linear-gradient(
    to right in oklab,
    var(--color-button),
    var(--color-button-secondary) 100%
  );
  background-size: 200% 100%;
  border-radius: var(--size-base);
  border: none;
  color: var(--color-button-fg);
  cursor: pointer;
  font-weight: bold;
  height: var(--size-3x);
  transition:
    background-position 0.15s ease-in-out,
    transform 0.15s ease-in-out;
  white-space: nowrap;
}

.button-small {
  font-size: var(--font-size-small);
  padding: var(--size-half);
}

.button-secondary {
  background: var(--color-bg-secondary);
  color: var(--color-text);
}

button:focus,
button:hover {
  background-position: 50% 0;
  transform: scale(1.02);
}

button:active {
  transform: scale(0.96);
}

:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

/* Inline and Stack layout. Docs: https://seanockert.com/css-layouts */
[class^='inline'],
[class*=' inline'],
[class^='stack'],
[class*=' stack'] {
  --gap: var(--size-base);
  display: flex;
  gap: var(--gap);
}

ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

[class^='inline'],
[class*=' inline'] {
  align-items: center;
  justify-content: flex-start;
}

[class^='stack'],
[class*=' stack'] {
  flex-direction: column;
}

[class^='inline'] > [class^='stack'] {
  flex: 1;
}

.inline-zero,
.stack-zero {
  display: inline-flex;
  gap: 0;
}

.inline-quarter,
.stack-quarter {
  --gap: var(--size-quarter);
}

.inline-half,
.stack-half {
  --gap: var(--size-half);
}

.inline-2x,
.stack-2x {
  --gap: var(--size-2x);
}

.inline-4x,
.stack-4x {
  --gap: var(--size-4x);
}

.inline-between {
  justify-content: space-between;
}

.inline-wrap {
  flex-wrap: wrap;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  padding: var(--size-half);
  text-align: left;
}

th {
  padding-top: 0;
  border-bottom: 1px solid var(--color-text-secondary);
}

tbody tr:hover {
  background-color: var(--color-bg-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

.dark {
  color-scheme: dark;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0;
  }
}
