:root {
  --color-bg: #fff;
  --color-error: #b3332e;
  --color-gradient: #ede6ff;
  --color-link: #2261a0;
  --color-link-secondary: #4822a0;
  --color-link-hover: #183d8d;
  --color-text: #333;
  --color-text-secondary: #676767;

  --size-base: 0.75rem;
  --size-half: 0.375rem;
  --size-quarter: 0.1875rem;
  --size-2x: 1.5rem;
  --size-4x: 3rem;
  --font-size-small: 0.875rem;

  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* General resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  overflow-wrap: break-word;
}

html {
  background: var(--color-bg)
    linear-gradient(in oklab, var(--color-gradient), transparent 3rem);
  color: var(--color-text);
  padding: 0.75rem;
  font-size: clamp(1rem, 2vw, 1.3rem);
}

body {
  color: inherit;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1.5rem auto;
  max-width: 50rem;
  min-height: 100vh;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

img, svg {
  display: block;
  max-width: 100%;
}

a {
  color: var(--color-link);
}

a:hover, a:focus {
  color: var(--color-link-hover);
}

input, textarea, button, select {
  border-radius: var(--size-half);
  font: inherit;
  line-height: 1;
  max-width: 20rem;
  padding: var(--size-base);
}

button {
  background: linear-gradient(to right in oklab, var(--color-link), var(--color-link-secondary) 100%);
  background-size: 200% 100%;
  border-radius: var(--size-base);
  border: none;
  color: var(--color-bg);
  cursor: pointer;
  font-weight: bold;
  transition: background-position 0.15s ease-in-out, transform 0.15s ease-in-out;
}

button:focus, button:hover {
  background-position: 50% 0;
}

button:active {
  transform: scale(0.97);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.error-message {
  color: var(--color-error);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #191420;
    --color-gradient: #594b6c;
    --color-link: #6287d9;
    --color-text: #e6e6e6;
  }
}


/* Inline and Stack layout. Docs: https://seanockert.com/css-layouts */
[class^='inline'],
[class*=' inline'],
[class^='stack'],
[class*=' stack'] {
  --gap: var(--size-base);
  display: flex;
  gap: var(--gap);
}

ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

[class^='inline'],
[class*=' inline'] {
  align-items: center;
  justify-content: flex-start;
}

[class^='stack'],
[class*=' stack'] {
  flex-direction: column;
}

[class^='inline'] > [class^='stack'] {
  flex: 1;
}

.inline-zero,
.stack-zero {
  display: inline-flex;
  gap: 0;
}

.inline-quarter,
.stack-quarter {
  --gap: var(--size-quarter);
}

.inline-half,
.stack-half {
  --gap: var(--size-half);
}

.inline-2x,
.stack-2x {
  --gap: var(--size-2x);
}

.inline-4x,
.stack-4x {
  --gap: var(--size-4x);
}

.inline-between {
  justify-content: space-between;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0;
  }
}